.App {
  text-align: center;
  background-color: #3c68ae;
  height: auto;
}

.App-logo {
  height: 80px;
  margin-top: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-section {
  min-height: 80vh;
  padding: 2em;
  color: #fff;
}

.App-section input {
  margin-right: 1em;
  padding: 1em;
  background-color: #3c68ae;
  border: 1px solid transparent;
  border-bottom: 1px solid white;
  border-radius: 4px;
  color: #fff;
}

.btn {
  display: block;
  margin: 1em auto 0;
  padding: 1em;
  background-color: #6da6ff;
  border: 1px solid #6da6ff;
  border-radius: 50px;
  color: #fff;
}

.btn:hover {
  background-color: #80b1ff;
}

.btn:active {
  background-color: #28477a;
  border-color: #28477a;
}

